.main-head {
  background-color: #0068CD;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container-mobile {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.search-input-mobile {
  width: 100%;
  /* max-width: 100%; */
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #2f2e2e;
  border-radius: 10px;
  outline: none;
  transition: width 0.3s ease;
}

.search-input-mobile::placeholder {
  color: #000000; /* white */
  opacity: 1; /* ensure full visibility */
}


.search-input {
  width: 200px;
  max-width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: width 0.3s ease;
}

.search-input:focus {
  width: 300px; /* expands smoothly when typing */
}

.search-input::placeholder {
  color: #737373; /* white */
  opacity: 1; /* ensure full visibility */
}



.top-pill-text{
  color: #fff !important;
  font-family: 'Roboto';
  font-size: 7px;
  font-weight: 600 !important;
}

.top-pill-text2{
  color: #fff !important;
  font-family: 'Roboto';
  font-size: 7px;
  font-weight: 400 !important;
}

.main-head p{
    color: white;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: small;
    padding: 12px 0px;
    margin: 0;
}

.head-custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200 !important;
  cursor: pointer;
}

.head-custom-arrow.next {
  right: 30px;
}

.head-custom-arrow.prev {
  left: 30px;
}
@media (max-width: 768px) {
    .main-head p {
        font-size: 13px;
        padding: 16px 0px;
        text-align: center;
        margin: 0;
        font-weight: 400;
    }
}